* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh; /* redundancy for browser support */
  height: 100svh;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  z-index: 0;
}

.pageContent {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.8);
}

/* 
Hero css
*/

.heroHeader {
  color: white;
  text-align: center;
  font-size: 40px;
}

.heroContent {
  position: relative;
  top:30%;
}

.animate-character
{
  text-align: center;
  background-image: linear-gradient(
    -225deg,
    #ff0048 0%,
    #f30ee4 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: block;
  font-size: 40px;
  
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.form {
  width: 40%;
  position: relative;
  height: 60px;
  overflow: hidden;
  margin: auto;
}

.form input {
  width: 100%;
  height: 100%;
  color: #fff;
  padding-top: 30px;
  border: none;
  background-color: transparent;
}
.form label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid white;
  color: rgb(158, 158, 158);
}
.form label::after {
  content: "";
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #ff006a;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}
.form input:focus {
  outline: none;
}
.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-100%);
  font-size: 14px;
  left: 0px;
  color: #fff;
}
.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  transform: translateX(0%);
}

input[type="text"] {
    font-size:20px;
}

.summarize-btn {
  display: block;
  margin:auto;
  width: 200px;
  height: 40px;
  top:20px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #fff;
  border: 2px solid #ff006a;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.summarize-btn span {
  position: relative;
  z-index: 2;
}

.summarize-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff006a;
  transition: all .35s;
}

.summarize-btn:hover {
  color: #fff;
}

.summarize-btn:hover:after {
  width: 100%;
}

/* 
  Summary page css
*/

.summary-container {
  position: relative;
  top: 5%;
}

.video-preview-container {
  width: 30%;
  aspect-ratio: 16/9;
  margin: auto;
}

.frame-YT {
  width: 100%;
  height: 100%;
}

.summary-text-container {
  position:relative;
  width: 50%;
  margin:auto;
  top: 0;
  padding-top:20px;
  padding-bottom:20px;
}

@media (max-width: 500px) {
  .video-preview-container {
    width: 80%;
  }

  .summary-text-container {
    width: 80%;
    margin:auto;
  }
}

.summary-box{
  position: relative;
  width: 100%;
  color: #fff;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}


.summary-box::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}


.summary-box::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  filter: blur(30px);
}

.summary-box:nth-child(2)::before,
.summary-box:nth-child(2)::after{
    background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.summary-box:nth-child(3)::before,
.summary-box:nth-child(3)::after{
    background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.summary-box span{
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0,0,0,0.6);
  z-index: 2;
}

.summary-box span::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255,255,255,0.1);
  pointer-events: none;
}

.summary-box .summary-text-card{
  position: relative;
  z-index: 10;
  padding: 20px 40px;
}

.summary-box .summary-text-card h2{
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.summary-box .summary-text-card p{
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.summary-box .summary-text-card a{
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: rgba(255,255,255,0.1);
  padding: 10px;
  text-decoration: none;
  font-weight: 700;
}
.lds-title {
  text-align: center;
}
.lds-ellipsis-container {
  width: 80px;
  margin: auto;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.try-another-btn {
  padding-bottom: 60px;
}